<div class="pagination">
  <ul>
    <% if (hasPrevPage) { %>
    <li>
      <a href="?page=<%= prevPage %>">Perv</a>
    </li>
    <% } %> <% for(let i = 1; i <= pages; i++) { %>
    <li class="<%= i === page ? 'active' : '' %>">
      <a href="?page=<%= i %>"> <%= i %> </a>
    </li>
    <% } %> <% if (hasNextPage) { %>
    <li>
      <a href="?page=<%= nextPage %>">Next</a>
    </li>
    <% } %>
  </ul>
</div>
