<%- include("../../layouts/admin-top.js") %>

<form action="/admin/article/<%= article.id %>" method="PUT">
  <div class="form-item">
    <label for="title">Title</label>
    <input type="text" name="title" value="<%= article.title %>" />
  </div>
  <div class="form-item">
    <label for="text">Text</label>
    <textarea name="text" cols="30" rows="5"><%= article.text %></textarea>
  </div>
  <div class="form-item">
    <button type="submit">Save</button>
  </div>
</form>

<%- include("../../layouts/admin-bottom.js") %>
