<%- include("../../layouts/admin-top.js") %>

<div class="article">
  <div class="row">
    <div class="label">ID</div>
    <div class="content"><%= article.id %></div>
  </div>
  <div class="row">
    <div class="label">Author</div>
    <div class="content"><%= article.user.username %></div>
  </div>
  <div class="row">
    <div class="label">Title</div>
    <div class="content"><%= article.title %></div>
  </div>
  <div class="row">
    <div class="label">Text</div>
    <p class="content"><%= article.text %></p>
  </div>

  <hr />

  <a class="action" href="/admin/article/<%= article.id %>/edit"
    >Edit article</a
  >

  <a href="/admin/article" class="action">Back to list</a>

  <%- include("../../includes/article-delete-form.ejs", {article}) %>
</div>

<%- include("../../layouts/admin-bottom.js") %>
